{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" href="{{ pluResPath }}challenge/index.css">
{{/block}}

{{block 'main'}}

  <h2 class="head" style="margin-bottom: 20px;text-align: center;">UID: {{ uid }} 的深渊数据 <span class="tag">{{ type == '1' ? '本期' : '上期' }}</span></h2>

  <div class="body">
    <div class="count">统计周期: {{ data.beginTime }}-{{ data.endTime }}</div>
    <div class="summar">
      <h2>混沌回忆挑战回顾</h2>
      <div class="summar-content">
        <div class="summar-star"><img class="rogue-star" src="{{ pluResPath }}common/cont/rogue-star.png" />X {{ data.star_num }}</div>
        <div class="summar-info">
          <div>最深抵达: {{ data.max_floor }}</div>
          <div style="margin-top: 8px;">战斗次数: {{ data.battle_num }}</div>
        </div>
      </div>
    </div>

    <div class="detail-list">
      {{ each data.all_floor_detail floor }}
      <div class="detail-item">
        <div class="detail-border">
          <div class="detail-head">
            <div class="detail-title">
              <p>{{ floor.name }}</p>
              <p>使用轮: {{ floor.round_num }}</p>
            </div>
            <div class="detail-star">
              <% for (var i = 0; i < floor.star_num; i++){ %>
                <img class="rogue-star" src="{{ pluResPath }}common/cont/rogue-star.png" />
              <% } %>
            </div>
          </div>
          <div class="detail-body">
            <div class="detail-node">
              <div class="detail-node-title">
                节点1 <span>{{ floor.node_1.challengeTime }}</span>
              </div>
              <div class="detail-avatars">
                {{ each floor.node_1.avatars avatar }}
                <div class="detail-avatar rank{{ avatar.rarity }}">
                  <div class="detail-avatar-border">
                    <img class="element" src="{{ pluResPath }}common/element/{{ avatar.element.toLowerCase() }}.png" alt="">
                    <img class="char" src="{{ pluResPath }}gatcha/images/char/{{ avatar.id }}.png" alt="">
                    <div class="level">等级 {{ avatar.level }}</div>
                  </div>
                </div>
                {{ /each }}
              </div>
            </div>
            <div class="detail-node">
              <div class="detail-node-title">
                节点2 <span>{{ floor.node_2.challengeTime }}</span>
              </div>
              <div class="detail-avatars">
                {{ each floor.node_2.avatars avatar }}
                <div class="detail-avatar rank{{ avatar.rarity }}">
                  <div class="detail-avatar-border">
                    <img class="element" src="{{ pluResPath }}common/element/{{ avatar.element.toLowerCase() }}.png" alt="">
                    <img class="char" src="{{ pluResPath }}gatcha/images/char/{{ avatar.id }}.png" alt="">
                    <div class="level">等级 {{ avatar.level }}</div>
                  </div>
                </div>
                {{ /each }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ /each }}
    </div>
  </div>

  <div class="logo">
    {{@sys.createdby}}
  </div>

{{/block}}