<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>note</title>
	 <link rel="stylesheet" type="text/css" href= "{{pluResPath}}/note/note.css" />
</head>

<body>
    <div class="container">
        <div>
            <br>
            <div class="ktl">

                <div class="ktl_name">{{ktl_name}}</div>
                <img src="http://q2.qlogo.cn/headimg_dl?dst_uin={{ktl_qq}}&amp;spec=640">
                <br>
                <br>
                <div class="ktl_uid">UID:{{uid}}</div>
            </div>

            <div class="ktl-time">
                <span class="ktl-title">开拓力</span>
                <span class="ktl-value"> {{current_stamina}}/{{max_stamina}}</span>
            </div>

            <div class="ktl-full">
                {{ktl_full}}
                <p><span>{{ktl_full_time_str}}</span></p>
            </div>

            <div class="weituo">
                <div class="weituo-title">
                    委托执行⭐
                </div>
                {{each expeditions ex}}
                <div class="weituo-line">
                    <div class="weituo-name">{{ex.name}}</div>
                    <div class="weituo-line-last">
                        <div style="color: #757575">
                           {{if ex.remaining_time == '委托已完成'}} 
                           {{else}}
                           剩余时间
                           {{/if}}
                        </div>
                         {{if ex.remaining_time == '委托已完成'}} 
                         <div style="margin-top:12px">{{ex.remaining_time}}</div>
                         {{else}}
                            <div>{{ex.remaining_time}}</div>
                            {{/if}}
                    </div>
                    {{each ex.avatars avatar}}
                    <!-- <img class="avatar" src="{{avatar}}" /> -->
                    <img class="avatar" src="{{avatar}}">
                    {{/each}}
                </div>
                {{/each}}
            </div>

            <!-- <div class="divider">
            </div> -->
            <br>
            <div class="logo">
                Yunzai-Bot & StarRail-plugin
            </div>
            <br>
        </div>
    </div>
</body>

</html>
