@font-face {
    font-family: hanyi;
    src: url('../fonts/汉仪润圆-75W.ttf') format('truetype');
}

@font-face {
    font-family: YS;
    src: url('../fonts/YS.ttf') format('truetype');
}

@font-face {
    font-family: "tttgbnumber";
    src: url("../fonts/tttgbnumber.ttf");
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "YS", sans-serif;
    width: 784px;
    transform: scale(1.4);
    transform-origin: 0 0;
}

.container {
    padding: 30px 30px 20px 20px;
}


.general-inner-block {
    width: 33%;
    text-align: center;
}

.general-inner-block-value {
    margin-top: 30px;
    font-size: 32px;
}

.general-inner-block-title {
    margin-top: 3px;
    font-size: 24px;
    color: #9a9a9a;
}

.title {
    display: flex;
    margin-bottom: 15px;
    /* margin-top: 20px; */
}

.title div {
    margin-left: 10px;
    /* font-weight: bold; */
    font-size: 32px;
}

.title img {
    width: 36px;
    object-fit: contain
}

.general {
    width: 744px;
    /*height: 132px;*/
    padding-bottom: 20px;
    background-color: #f4f2e5;
    border-radius: 5px 70px 5px 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

.general-inner {
    position: relative;
    top: 10px;
    width: 720px;
    left: 10px;
    /*padding-bottom: -10px;*/
    /*height: calc(100% - 20px);*/
    background-color: #f4f2e5;
    border-radius: 5px 60px 5px 5px;
    border: #d0ba94 2px solid;
    display: flex;
    flex-wrap: wrap;
}

.avatar-box {
    margin: 3px 6px 6px 1px;
}

.avatar {
    margin-top: 5px;
    margin-left: 15px;
    background: #cb9a6d;
    width: 156px;
    border-radius: 0 30px 0 0;
    /*height: 90px;*/
    position: relative;
    overflow: hidden;
}

.rarity5 {
    background: linear-gradient(45deg, #c59a65, #894f4a);
}

.rarity4 {
    background: linear-gradient(45deg, #7f54c0, #3d3d63);
}

.avatar-inner {
    position: absolute;
    left: 6px;
    top: 6px;
    border-radius: 0 30px 0 0;
    border: #fffdfd48 3px solid;
    width: 142px;
    height: 160px;
}

.avatar-img {
    width: 160px;
    position: relative;
    z-index: 100;
}

.avatar-banner {
    position: absolute;
    top: 149px;
    background: black;
    color: white;
    font-size: 24px;
    text-align: center;
    width: 100%;
    z-index: 101;
}

.avatar-element {
    --borderColor-fire: #c5523a;
    --borderColor-ice: #4089bb;
    --borderColor-imaginary: #f1d85e;
    --borderColor-lightning: #a042be;
    --borderColor-physical: #857f87;
    --borderColor-quantum: #4b52a1;
    --borderColor-wind: #349972;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 14px;
    left: 14px;
    border: 1px solid;
    z-index: 101;
    background: black;
    transform: rotate(45deg);
    overflow: hidden;
}

.avatar-element img {
    transform: rotate(-45deg);
    width: 32px;
    position: absolute;
    top: -5px;
    left: -5px;
}

.avatar-命座 {
    width: 32px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    /* border: #f17565 1px solid; */
    z-index: 101;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: #f1f1f1;
    border-radius: 0 0 0 10px;
    background: rgba(0, 0, 0, 0.5);
}

.avatar-name {
    margin-top: 6px;
    /* font-weight: bold; */
    font-size: 28px;
    text-align: center;
}

.logo {
    font-size: 26px;
    font-family: "tttgbnumber";
    color: #8f8f8f;
    text-align: center;
    margin-top: 10px;
}

.user {
    margin: 13px 5px 30px 5px;
    height: 140px;
    background: #fcf3cc;
    border: #f5daa9 1px solid;
    border-radius: 20px;
    position: relative;
}

.user-inner {
    margin: 5px;
    height: 126px;
    background: #fcf3cc;
    border: #f5daa9 2px solid;
    border-radius: 15px;
}

.srlogo {
    position: absolute;
    width: 200px;
    margin-top: 2px;
}

.srlogo img {
    width: 220px;
}


.region {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.role-name {
    left: 54%;
    transform: translateX(-50%);
    position: absolute;
    top: 29px;
    font-size: 30px;
    max-width: 45%; /* 限制宽度 45% */
    display: flex; /* 弹性布局 */
    align-items: center;
}
.nickname {
    flex-grow: 1;
    flex-shrink: 1;
    /* 文字超出显示省略号 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.uid {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 24px;
    color: #2e353e;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.region {
    font-size: 24px;
    color: #aaac9c;
    top: 75px;
}

.pamu {
    position: absolute;
    left: 526px;
    top: -22px;
}

.pamu img {
    width: 180px;
}