/* 卡片容器 */
.container {
  margin: auto;
  width: 920px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-image: url('../common/cont/bkg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f0eaca;
  padding: 40px 40px;
  font-weight: 500;
  font-size: 1.2rem;
}

.bkg {
  width: 500px;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 30%);
  opacity: 0.4;
  z-index: 1;
}

.bkg img {
  width: 100%;
}

/* 更新的那个小点 */
span.update_dot {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #90E900;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  bottom: 0.5em;
  transform: translate(0, 0.3em);
}



/* 头部 */
.header {
  position: relative;
  z-index: 2;
}

/* 标题 */
.header .title {
  display: flex;
  border-bottom: 2px solid #f0eaca;
  align-items: flex-end;
  margin-top: 20px;
}

.header .title .text {
  font-size: 3rem;
  font-weight: 700;
  margin-right: 20px;
  -webkit-text-stroke: 2px rgb(100, 96, 57);
}

.header .title .uid {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 4px;
}

/* 角色列表 */
.char-list {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: rgba(255, 239, 183, 0.2);
  /* backdrop-filter: blur(10px); */
  border-radius: 10px;
  padding: 15px 30px;
  padding-bottom: 0;
}

/* 列表项 */
.char-list .item {
  width: 100px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 0 15px;
  margin-bottom: 20px;
}

/* 头像 */
.char-list .item .avatar {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3.5px solid #e9e9e9;
}

.char-list .item .avatar img {
  width: 100%;
  height: 100%;
}

/* 角色名 */
.char-list .item .name {
  width: 90px;
  font-size: 1.1rem;
  margin-top: 5px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 最下面的提示 */
.footer {
  margin-top: 20px;
  background-color: rgba(255, 239, 183, 0.2);
  /* backdrop-filter: blur(10px); */
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
}

.footer .left {
  margin-right: auto;
}

.footer .right {
  margin-left: auto;
}

.tips ul {
  padding-left: 20px;
  margin-top: 20px;
}