{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" href="{{pluResPath}}panel/card.css">
{{/block}}

{{block 'main'}}
<div class="bkg">
  <img src="{{pluResPath}}panel/resources/logo.png" alt="">
</div>
<div class="header">
  <div class="title">
    <div class="text">#{{type=='update'?'更新面板':'角色面板列表'}}</div>
    <div class="uid">UID:{{uid}}</div>
  </div>
  <div class="tips">
    <ul>
      <li>{{type=='update'?'面板数据请求':'角色面板查询'}}成功</li>
      <li>你可以发送 #星铁+角色名+面板 例如 #星铁希儿面板 命令来查看相关数据</li>
    </ul>
  </div>
</div>
<div class="char-list">
  {{each data char i}}
  <div class="item">
    <div class="avatar">
      <img src="{{pluResPath}}panel/resources/avatar/{{char.avatarId}}.png" alt="">
    </div>
    <div class="name">
      {{if type=='update'}}
      <span class="{{char.is_new?'update_dot':''}}">
      </span>
      {{/if}}
      {{char.name}}
    </div>
  </div>
  {{/each}}
</div>
<div class="footer">
  <div class="left">
    {{if type=='update'}}
    <span class="update_dot"></span>为本次更新角色
    {{else}}
    以上为本地缓存角色
    {{/if}}
  </div>
  <div class="right">当前面板更新服务：{{api}}</div>
</div>
{{/block}}