body {
    width: 900px;
}

.container {
    width: 100%;
    color: #fce097;
    background: url(../common/cont/bkg.png) center no-repeat;
    background-size: cover;
    padding: 20px 35px 10px 35px;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    height: 577px;

    .left {
        width: 382px;
        border: 1px solid #fce097;
        border-radius: 50px 0;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


    }

    .right {
        flex: 1;
        margin-left: 20px;

        .info {
            height: 44px;
            display: flex;
            align-items: end;


            .role-name {
                font-size: 44px;
                height: 100%;
            }

            .element {
                height: 35px;
                margin: 0 3px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .level {
                margin-left: 10px;
            }

            .star-soul {
                margin-left: auto;
                margin-right: 10px;
                border: 1px solid #fce097;
                border-radius: 3px;
                font-size: 16px;
                padding: 0 5px;
                text-shadow: 1px 1px 1px #000;
            }
        }

        .dividing-line {
            height: 15px;
            margin: 6px 0px;
            background: url(./resources/dividing-line.png) center no-repeat;
            background-size: cover;
        }

        .attribute-box {
            .attribute-item {
                height: 40px;
                border: 1px solid #fce097;
                margin-top: 10px;
                border-radius: 5px;
                display: flex;
                align-items: center;

                .icon {
                    width: 15px;
                    height: 100%;
                    margin-left: 15px;
                    position: relative;

                    img {
                        height: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .name {
                    margin-left: 15px;
                }

                .value {
                    margin-left: auto;
                    margin-right: 10px;
                }

                .add-value {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: space-evenly;
                    box-sizing: content-box;
                    padding-right: 5px;
                    font-size: 14px;
                    text-align: right;
                    width: 55px;
                    height: 100%;
                    background: #4a4a4a87;

                    .delta {
                        color: #9be802
                    }
                }
            }
        }
    }
}

.arms-box {
    margin-top: 10px;
    height: 105px;
    border: 1px solid #fce097;
    border-radius: 30px 0;
    display: flex;
    align-items: center;

    .arms {
        display: flex;
        height: 85px;
        flex: 1;
        margin-left: 30px;
        text-align: center;

        .arms-img {
            margin-right: 30px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 100px;

            .level-box {
                font-size: 12px;
                display: flex;
                justify-content: space-between;

                div {
                    border: 1px solid #fce097;
                    border-radius: 5px;
                    padding: 0 5px;

                    &:nth-child(1) {
                        margin-right: 5px;
                    }
                }
            }

            .star {
                height: 14px;
                position: relative;

                img {
                    height: 200%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

        }

        .attribute {
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .item {
                height: 25px;
                display: flex;
                align-items: center;
                font-size: 13px;


                .icon {
                    height: 100%;
                    margin-right: 2px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .hr {
        width: 1px;
        background: #fce097;
        height: 65px;
    }

    .talent {
        flex: 1;
        display: flex;
        justify-content: space-evenly;

        .item {
            position: relative;
            width: 33%;

            .img {
                width: 50px;
                height: 50px;
                border: 1px solid #fce097;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .level {
                margin: 0 auto;
                border: 1px solid #fce097;
                width: 30px;
                text-shadow: 1px 1px 1px #000;
                background: #5a5a5a90;
                text-align: center;
                border-radius: 5px;
                font-size: 12px;
                position: absolute;
                top: 40px;
                left: 50%;
                transform: translateX(-50%);
            }

            .type {
                margin-top: 13px;
                text-align: center;
            }
        }
    }
}

.other-info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.relic-list {
    display: flex;
    flex-wrap: wrap;
    gap: 11px 30px;

    .item {
        width: 400px;
        height: 170px;
        border: 1px solid #fce097;
        border-left-width: 5px;
        border-radius: 30px 0;
        display: flex;

        &[data-rank='3'] {
            border-color: #276d98;
        }

        &[data-rank='4'] {
            border-color: #9819b3;
        }

        .info {
            width: 125px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px 0;

            .relic-icon {
                height: 50px;
                margin-top: 10px;
                position: relative;

                img {
                    height: 100%;
                }

                .level {
                    position: absolute;
                    right: -5px;
                    bottom: -5px;
                    border: 1px solid #fce097;
                    border-radius: 5px;
                    font-size: 12px;
                    padding: 0 5px;
                    width: 35px;
                    text-shadow: 1px 1px 1px #000;
                    background: #5a5a5a90;
                }
            }

            .star {
                height: 25px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .relic-name {
                width: 105px;
                text-align: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .score {
                margin-left: 10px;
                padding: 3px 10px;
                border: 1px solid #fce097;
                border-radius: 5px;
                font-size: 15px;
                margin-top: 8px;
                width: 70px;
                text-align: center;
                white-space: nowrap
            }
        }

        .attribute {
            flex: 1;
            position: relative;
            padding: 10px;


            .attribute-item {
                display: flex;
                align-items: center;
                height: 30px;
                padding: 8px;
                font-size: 15px;
                position: relative;
                color: #a5a5a5;

                &.weight-normal {
                    color: #fff;
                }

                &.weight-heavy {
                    color: #fce097;
                }

                &:nth-child(2n+1) {
                    background: #2e2d2a52;
                }

                &.main_affix {
                    font-size: 18px;
                    color: #fff;
                    font-weight: 700;
                }

                .icon {
                    position: relative;
                    width: 10px;
                    height: 100%;

                    img {
                        height: 160%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .name {
                    margin-left: 10px;
                }

                .cont {
                    position: absolute;
                    left: 50%;
                }

                .add-attribute {
                    margin-left: auto;
                }
            }

            &::after {
                content: '';
                height: 100px;
                width: 1px;
                background: #fce097;
                position: absolute;
                left: -1px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.copyright {
    margin-top: 15px;
    font-size: 16px;
}