{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" href="{{pluResPath}}/panel/new_panel.css">
{{/block}}

{{block 'main'}}
{{set iconPath = pluResPath + 'panel/resources/icon/value'}}
<div class="header">
    <div class="left">
        <img src="{{pluResPath}}{{charImage}}">
    </div>
    <div class="right">
        <div class="info">
            <div class="role-name">{{name}}</div>
            <div class="element">
                <img src="{{pluResPath}}common/element/{{damage_type.toLowerCase()}}.png">
            </div>
            <div class="path">{{charpath}}</div>
            <div class="level">Lv.{{level}}</div>
            <div class="star-soul const-rank-{{rank}}">星魂 {{rank}}</div>
        </div>
        <div class="dividing-line"></div>
        <div class="attribute-box">
            <div class="attribute-item">
                <div class="icon">
                    <img src="{{iconPath}}/IconMaxHP.png">
                </div>
                <div class="name">生命值</div>
                <div class="value">
                    {{Math.floor(properties.hpBase+properties.hpDelta)}}
                </div>
                <div class="add-value">
                    <div>
                        {{MathPro.floor10(properties.hpBase,-1)}}
                    </div>
                    <div class="delta">
                        +{{MathPro.floor10(properties.hpDelta,-1)}}
                    </div>
                </div>
            </div>
            <div class="attribute-item">
                <div class="icon">
                    <img src="{{iconPath}}/IconAttack.png">
                </div>
                <div class="name">攻击力</div>
                <div class="value">
                    {{Math.floor(properties.attackBase+properties.attackDelta)}}
                </div>
                <div class="add-value">
                    <div>
                        {{MathPro.floor10(properties.attackBase,-1)}}
                    </div>
                    <div class="delta">
                        +{{MathPro.floor10(properties.attackDelta,-1)}}
                    </div>
                </div>
            </div>
            <div class="attribute-item">
                <div class="icon">
                    <img src="{{iconPath}}/IconDefence.png">
                </div>
                <div class="name">防御力</div>
                <div class="value">
                    {{Math.floor(properties.defenseBase+properties.defenseDelta)}}
                </div>
                <div class="add-value">
                    <div>
                        {{MathPro.floor10(properties.defenseBase,-1)}}
                    </div>
                    <div class="delta">
                        +{{MathPro.floor10(properties.defenseDelta,-1)}}
                    </div>
                </div>
            </div>
            <div class="attribute-item">
                <div class="icon">
                    <img src="{{iconPath}}/IconSpeed.png">
                </div>
                <div class="name">速度</div>
                <div class="value">
                    {{Math.floor(properties.speedBase+properties.speedAdd)}}
                </div>
                <div class="add-value">
                    <div>
                        {{MathPro.floor10(properties.speedBase,-1)}}
                    </div>
                    <div class="delta">
                        +{{MathPro.floor10(properties.speedAdd,-1)}}
                    </div>
                </div>
            </div>
            <div class="attribute-item">
                <div class="icon">
                    <img src="{{iconPath}}/IconCriticalChance.png">
                </div>
                <div class="name">暴击率</div>
                <div class="value">
                    {{MathPro.floor10(properties.criticalChance*100,-1)}}%
                </div>
            </div>
            <div class="attribute-item">
                <div class="icon">
                    <img src="{{iconPath}}/IconCriticalDamage.png">
                </div>
                <div class="name">暴击伤害</div>
                <div class="value">
                    {{MathPro.floor10(properties.criticalDamage*100,-1)}}%
                </div>
            </div>
            <!-- <div class="attribute-item">
                <div class="icon">
                    <img src="{{iconPath}}/IconStatusResistance.png">
                </div>
                <div class="name">效果抵抗</div>
                <div class="value">
                    {{MathPro.floor10(properties.statusResistance*100,-1)}}%
                </div>
            </div> -->
            <div class="attribute-item">
                <div class="icon">
                    <img src="{{iconPath}}/IconStatusProbability.png">
                </div>
                <div class="name">效果命中</div>
                <div class="value">
                    {{MathPro.floor10(properties.statusProbability*100,-1)}}%
                </div>
            </div>
            <div class="attribute-item">
                <div class="icon">
                    <img src="{{iconPath}}/IconBreakUp.png">
                </div>
                <div class="name">击破特攻</div>
                <div class="value">
                    {{MathPro.floor10(properties.breakDamageAdded*100,-1)}}%
                </div>
            </div>
            <div class="attribute-item">
                <div class="icon">
                    <img src="{{iconPath}}/IconEnergyLimit.png">
                </div>
                <div class="name">能量回复</div>
                <div class="value">
                    {{MathPro.floor10(100 + properties.spRatio*100,-1)}}%
                </div>
            </div>
            <div class="attribute-item">
                {{if charpath == '丰饶'}}
                <div class="icon">
                    <img src="{{iconPath}}/IconHealRatio.png">
                </div>
                <div class="name">治疗量加成</div>
                <div class="value">
                    {{MathPro.floor10(properties.healRatio * 100,-1)}}%
                </div>
                {{else}}
                <div class="icon">
                    <img src="{{iconPath}}/Icon{{damage_type}}AddedRatio.png">
                </div>
                <div class="name">属性伤害提高</div>
                <div class="value">
                    {{MathPro.floor10(properties[damage_type.toLowerCase() + 'Added']*100,-1)}}%
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<div class="arms-box">
    {{if equipment.id}}
    <div class="arms">
        <div class="arms-img">
            <img src="{{pluResPath}}panel/resources/weapon/{{equipment.id}}.png">
        </div>
        <div class="info">
            <div>{{equipment.name}}</div>
            <div class="level-box">
                <div class="level">Lv.{{equipment.level}}</div>
                <div class="rank">叠影{{equipment.rank}}</div>
            </div>
            <div class="star">
                <img
                    src="{{pluResPath}}panel/resources/star/LightCore_{{equipment.rarity.slice(-7,equipment.rarity.length)}}.png">
            </div>
        </div>
        <div class="attribute">
            <div class="item">
                <div class="icon">
                    <img src="{{iconPath}}/IconMaxHP.png">
                </div>
                <div class="text">生命值：{{MathPro.floor10(equipment.hp)}}</div>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="{{iconPath}}/IconAttack.png">
                </div>
                <div class="text">攻击力：{{MathPro.floor10(equipment.atk)}}</div>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="{{iconPath}}/IconDefence.png">
                </div>
                <div class="text">防御力：{{MathPro.floor10(equipment.def)}}</div>
            </div>
        </div>

    </div>
    <div class="hr"></div>
    {{/if}}
    <div class="talent">
        {{each behaviorList behavior i}}
        <div class="item">
            <div class="img">
                <img src="{{pluResPath}}panel/resources/skill/{{behavior.path}}" alt="">
            </div>
            <div class="level">{{behavior.level}}</div>
            <div class="type">{{behavior.type}}</div>
        </div>
        {{/each}}
    </div>
</div>
<div class="other-info">
    <div class="uid">UID：{{uid}}</div>
    <div class="api">当前面版服务：{{api}}</div>
</div>
<div class="relic-list">
    {{each relics relic i}}
    <div class="item" data-rank="{{relic.max_level / 3}}">
        <div class="info">
            <div class="relic-icon">
                <img src="{{pluResPath}}panel/resources/relic/{{relic.path}}">
                <div class="level">+{{relic.level}}</div>
            </div>
            <div class="star">
                <img src="{{pluResPath}}panel/resources/star/LightCore_Rarity{{relic.max_level/3}}.png">
            </div>
            <div class="relic-name">{{relic.name}}</div>
            <div class="score">{{relic.score?relic.score.toFixed(1):0}}分</div>
        </div>
        <div class="attribute">
            <div class="attribute-item main_affix">
                <div class="name">{{relic.main_affix_name}}</div>
                <div class="add-attribute">
                    +{{relic.main_affix_value>=1?Math.floor(relic.main_affix_value):MathPro.floor10(relic.main_affix_value*100,-1)+'%'}}
                </div>
            </div>
            {{each relic.sub_affix_id affix i}}
            <div class="attribute-item {{affix.weight>0?(affix.weight>=1?'weight-heavy':'weight-normal'):''}}">
                <!-- <div class="icon">
                    <img src="{{iconPath}}/Icon{{affix.tag}}.png" alt="">
                </div> -->
                <div class="name">{{affix.name}}</div>
                <div class="cont">{{'>'.repeat(affix.cnt - 1)}}</div>
                <div class="add-attribute">
                    +{{affix.value>=1?Math.floor(affix.value):MathPro.floor10(affix.value*100,-1)+'%'}}</div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>
<div class="skill_tree">
  <canvas id="skillTreeCanvas" width="1000" height="1000"></canvas>
</div>
{{if damages}}
<div class="damage">
  <table>
    <thead>
      <tr>
        <th colspan="3">伤害计算</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="30%">动作</td>
        <td>暴击伤害</td>
        <td>期望伤害</td>
      </tr>
      {{each damages damage i}}
      <tr>
        <td>{{damage.title}}</td>
        <td>{{MathPro.floor10(damage.value.critical,0)}}</td>
        <td>{{MathPro.floor10(damage.value.expect,0)}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{ else }}
<div class="damage">
  <table>
    <tbody>
      <tr>
        <th colspan="3" style="border: none;">
          该角色未推出伤害计算或者数据过旧不支持计算
        </th>
      </tr>
    </tbody>
  </table>
</div>
{{/if}}
<div class="copyright">
    {{@sys.createdby}}
</div>
<script>
let skillTree = {{@(JSON.stringify( skillTree || [] )) }};
const skillTreeBkg = "{{ pluResPath }}{{ skillTreeBkg }}";
const lockIcon = "{{ pluResPath }}panel/resources/skill_tree/lock.png";
const config = {
  imgBaseURL: "https://avocado.wiki"
}
const type1 = [
  "Point09",
  "Point10",
  "Point11",
  "Point12",
  "Point13",
  "Point14",
  "Point15",
  "Point16",
  "Point17",
  "Point18",
];
const type2 = [ "Point01", "Point02", "Point03", "Point04", "Point05" ];
const type3 = [ "Point06", "Point07", "Point08" ];
const dom = document.querySelector('.skill_tree');
  const draw = async () => {
    const canvas = document.querySelector( "#skillTreeCanvas" );
    if ( !canvas ) return;
    const img = new Image();
    // 需要修改，背景图
    img.src = skillTreeBkg;
    img.onload = async () => {
      canvas.width = img.width * 2;
      canvas.height = img.height * 2;
      const ctx = canvas.getContext( "2d" );
      if ( !ctx ) return;
      ctx.drawImage( img, 0, 0, img.width * 2, img.height * 2 );
      const active = skillTree?.map( ( skill ) => {
        if ( skill?.level ) return skill.id.toString();
      } );
      const promiseArr = [];
      skillTree.forEach( async ( skill ) => {
        const promiseTemp = new Promise( ( resolve ) => {
          const position = skill.position;
          const x = position[ 0 ];
          const y = position[ 1 ];
          let [ width, height ] = [ 0, 0 ];
          let imageColor = "rgb(0,0,0)";
          let lock = false;
          let level = null;
          let max_level = null;
          const icon = new Image();
          icon.setAttribute( "crossOrigin", "anonymous" );
          if ( !active?.includes( skill.id.toString() ) ) {
            lock = true;
          }
          if ( skill?.level ) level = skill.level;
          if ( !skill ) return;
          icon.src = `${ config.imgBaseURL }${ skill.icon }`;
          if ( type1.includes( skill.anchor ) ) {
            level = null;
            imageColor = "rgb(0,0,0)";
            width = height = 102;
          } else if ( type2.includes( skill.anchor ) ) {
            imageColor = "rgb(254, 239, 204)";
            width = height = 138;
            max_level = skill?.max_level || null;
          } else if ( type3.includes( skill.anchor ) ) {
            level = null;
            imageColor = "rgb(0,0,0)";
            width = height = 144;
          }
          icon.onload = () => {
            // ctx.drawImage( icon, x + 5, y + 5, width - 10, height - 10 );
            applyImageColor(
              icon,
              imageColor,
              x + 5,
              y + 5,
              width - 10,
              height - 10
            );

            resolve( true );
          };
          icon.onerror = () => {
            ctx.fillStyle = lock ? "rgba(0,0,0,0.3)" : "rgba(0,0,0,0)";
            ctx.beginPath();
            ctx.arc( x + width / 2, y + height / 2, width / 2, 0, 2 * Math.PI );
            ctx.fill();
            // 在相应位置写上文字加载失败
            ctx.strokeStyle = "rgb(255,255,255)";
            ctx.font = "30px SR";
            ctx.lineWidth = 4;
            ctx.textAlign = "center";
            ctx.strokeText(
              "加载失败",
              x + width / 2,
              y + height / 2,
              width
            );
            ctx.fillStyle = "rgb(0,0,0)";
            ctx.fillText(
              "加载失败",
              x + width / 2,
              y + height / 2,
              width
            );
            resolve( false );
          };
          if ( level ) {
            ctx.strokeStyle = "rgb(0,0,0)";
            ctx.font = "40px SR";
            ctx.lineWidth = 10;
            ctx.textAlign = "center";
            ctx.strokeText(
              `${ level.toString() }${ max_level ? `/${ max_level }` : "" }`,
              x + width / 2,
              y + height + 40,
              width
            );
            ctx.fillStyle = "rgb(255,255,255)";
            // 文字居中
            ctx.fillText(
              `${ level.toString() }${ max_level ? `/${ max_level }` : "" }`,
              x + width / 2,
              y + height + 40,
              width
            );
          }
          if ( lock ) {
            // 填充圆形，不透明度为0.33，黑色
            ctx.fillStyle = "rgba(0,0,0,0.5)";
            ctx.beginPath();
            ctx.arc( x + width / 2, y + height / 2, width / 2, 0, 2 * Math.PI );
            ctx.fill();
            // 绘图锁
            ctx.fillStyle = "rgba(0,0,0,0.5)";
            ctx.beginPath();
            ctx.arc( x + width - 10, y + 10, 18, 0, 2 * Math.PI );
            ctx.fill();
            const lockImg = new Image();
            lockImg.src = lockIcon;
            lockImg.onload = () => {
              applyImageColor(
                lockImg,
                "rgb(255,255,255)",
                x + width - 20,
                y,
                20,
                20
              );
            };
          }
        } );

        promiseArr.push( promiseTemp );
      } );

      await Promise.all( promiseArr );
    };
  };
  const applyImageColor = (
    img,
    color,
    x,
    y,
    width,
    height
  ) => {
    const tempCanvas = document.createElement( "canvas" );
    const tempCtx = tempCanvas.getContext( "2d" );
    if ( !tempCtx ) return;
    tempCanvas.width = img.width;
    tempCanvas.height = img.height;

    // 绘制原始图像
    tempCtx.drawImage( img, 0, 0 );

    // 修改图像颜色
    tempCtx.globalCompositeOperation = "source-in";
    tempCtx.fillStyle = color;
    tempCtx.fillRect( 0, 0, tempCanvas.width, tempCanvas.height );

    // 将修改后的图像绘制回画布
    const canvas = document.querySelector( "#skillTreeCanvas" );
    if ( canvas ) {
      const ctx = canvas.getContext( "2d" );
      if ( ctx ) {
        ctx.drawImage( tempCanvas, x, y, width, height );
        // 销毁临时画布
        tempCanvas.remove();
      }
    }
  };
  draw();
</script>
{{/block}}
