@charset "UTF-8";
.container {
  background-size: 100%;
  width: 996px;
  padding: 0;
  position: relative;
  background-color: rgb(233, 227, 203);
  padding-bottom: 25px;
  overflow: hidden;
}

.other-text {
  color: #a4a4a4;
  z-index: 999;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.other-text .left_banner {
  width: 150px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(52, 52, 52);
}
.other-text .left_banner .left_bar {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 50px;
  width: 0px;
  border: 27px solid transparent;
  border-left: 23px solid rgb(118, 118, 118);
}
.other-text .left_banner .title {
  position: relative;
  margin-left: 63px;
  margin-right: 35px;
  top: 40px;
  font-size: 40px;
  writing-mode: vertical-lr;
}
.other-text .left_banner .title::before {
  content: "「";
  position: absolute;
  left: -35px;
  top: -12px;
}
.other-text .left_banner .title::after {
  content: "」";
  position: absolute;
  bottom: -12px;
  right: -35px;
}
.other-text .tg {
  position: absolute;
  left: 149px;
  bottom: -1px;
  width: 185px;
  height: 160px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: rgb(52, 52, 52);
}
.other-text .tgl {
  width: 320px;
  height: 1.5px;
  background-color: rgb(118, 118, 118);
  position: absolute;
  transform: rotate(40.5deg);
  bottom: 100px;
  left: -25px;
  opacity: 0.8;
}
.other-text .update-service {
  position: absolute;
  bottom: 85px;
  left: 15%;
  transform: translate(-50%, -50%) rotate(40.5deg);
  font-size: 14px;
  text-align: end;
  width: 277px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.other-text .uid {
  position: absolute;
  bottom: 12px;
  left: 27px;
  font-size: 14px;
}
.other-text .update-time {
  position: absolute;
  bottom: 61px;
  left: 239px;
  width: 348px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: rgb(52, 52, 52);
  clip-path: polygon(0 0, calc(100% - 25.5px) 0, 100% 100%, 25.5px 100%);
}
.other-text ._copyright {
  width: 600px;
  position: absolute;
  bottom: -1px;
  left: 265.5px;
  background-color: rgb(52, 52, 52);
  clip-path: polygon(0 0, calc(100% - 70.5px) 0, 100% 100%, 70.5px 100%);
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
}

.data {
  position: relative;
  width: 825px;
  left: 162px;
  top: 10px;
  padding: 0 20px;
  padding-bottom: 50px;
  border: 3px dashed #b4921d;
  min-height: 360px;
  z-index: 0;
}
.data .title {
  height: 50px;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}
.data .title .right {
  max-width: 40%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.data .grey-circle, .data .golden-circle {
  margin: 0 10px;
}
.data .golden-circle {
  color: #b4921d;
}
.data .grey-circle {
  color: #898989;
}
.data .item-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.data .item-list .item {
  width: 80px;
  text-align: center;
  margin: 0 14px;
  margin-bottom: 20px;
  --color: #898989;
  color: var(--color);
}
.data .item-list .item[data-isUpdate=true] {
  --color: #ac9548;
}
.data .item-list .item[data-isUpdate=false] {
  --color: #898989;
}
.data .item-list .item .avatar {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 3px;
  border-radius: 50%;
  border: 2px solid var(--color);
}
.data .item-list .item .avatar img {
  width: 100%;
}
.data .item-list .item .text {
  position: relative;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
}
.data .item-list .item .text[data-isCircle=update]::before {
  content: "●";
  margin-right: 3px;
}
.data .item-list .item .text .rank {
  color: #ffffff;
  margin-left: 3px;
  padding: 0 3px;
  border-radius: 3px;
  font-size: 15px;
  text-shadow: 0 0 2px #000;
}

/*# sourceMappingURL=new_card.css.map */
