@font-face {
    font-family: hanyi;
    src: url('../common/font/汉仪润圆-75W.ttf') format('truetype');
}

@font-face {
    font-family: "tttgbnumber";
    src: url("../common/font/tttgbnumber.ttf");
    font-weight: normal;
    font-style: normal;
}

.container {
    font-family: "hanyi", sans-serif;
    padding-top: 30px;
    padding-bottom: 40px;
    margin: 10px;
    background-image: url('x.jpg');
    background-size: cover;
    /* 设置背景图片尺寸 */
    background-position: center center;
    /* 设置背景图片位置 */
    width: 784px;
}

.general-inner-block {
    width: 220px;
    text-align: center;
    height: 130px;
    margin-right: 10px;
}

.general-inner-block-value {
    margin-top: 30px;
    font-size: 28px;
}

.general-inner-block-title {
    margin-top: 3px;
    font-size: 20px;
    color: #575757;
}

.title {
    padding-top: 10px;
    display: flex;
    margin-bottom: 10px;

}

.title div {
    margin-left: 3px;
    font-weight: bold;
    font-size: 32px;
}

.general {
    margin-top: 20px;
    margin-left: 10px;
    width: 744px;
    padding-bottom: 15px;

    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px 20px 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.general-inner {
    position: relative;
    top: 10px;
    width: 720px;
    left: 10px;
    border-radius: 5px 20px 5px 5px;
    border: #d0ba94 2px solid;
    display: flex;
    flex-wrap: wrap;
}

.avatar-element img {
    transform: rotate(-45deg);
    width: 32px;
    position: absolute;
    top: -3px;
    left: -3px;
}

.logo {
    font-size: 24px;
    font-family: "tttgbnumber";
    text-align: center;
    margin-top: 30px;
    /*padding-bottom: 10px;*/
}

.user {
    margin-top: 13px;
    margin-left: 5px;
    margin-right: 5px;
    height: 155px;
    background: rgba(252, 243, 204, 0.5);
    border: #f5daa9 1px solid;
    border-radius: 20px;
}

.user-inner {
    margin: 5px;
    height: 145px;
    background: rgba(252, 243, 204, 0.5);
    border: #f5daa9 2px solid;
    border-radius: 15px;
}

.srlogo {
    width: 200px;
    margin-top: 10px;
}

.srlogo img {
    width: 220px;
}

.role-name {
    position: absolute;
    top: 90px;
    left: 260px;
    font-size: 30px;
    font-weight: bold;
}

.uid {
    font-size: 24px;
    color: #35383d;
}

.region {
    font-size: 24px;
    color: #818180;
    position: absolute;
    top: 130px;
    left: 260px;
}

.pamu {
    position: absolute;
    left: 580px;
    top: 20px;
}

.pamu-img {
    width: 180px;
}