.container {
    padding: 30px 30px 20px 20px;
    /*width: 784px !important;*/
    transform: none;
    font-family: 'SR', serif;
}

.header-title {
    font-family: 'SR', serif;
    color: #ecd381;
    width: 100%;
    text-align: center;
    font-size: 28px;
    padding-top: 20px;
}
.header-uid {
    font-family: 'SR', serif;
    color: #bba86a;
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}
.header-content {
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    background: rgba(11, 12, 17, 0.5);
    display: flex;
}
.header-content-block {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 33%;
}
.header-content-block-title {
    padding-top: 10px;
    text-align: center;
    color: #cacaca;
    font-size: 20px;
}
.header-content-block-value {
    text-align: center;
    color: #fdfdfd;
    font-size: 28px;
}
.statistics-before {
    margin-left: 3px;
    color: #c7c7c7;
}
.radar {
  /*background-image: url("locust/radar.png");*/
  height: 450px;
  position: relative;
}
.radar-block {
  margin-top: -60px;
}
.radar-bg {
  width: 100%;

}
.radar-num {
  background: #0b0c11;
  border-radius: 8px;
  border: #c7c7c7 solid 1px;
  width: 16px;
  /*padding-left: 0px;*/
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.radar-icon {
  font-size: 12px;
  color: #b2a8e9;
  width: 30px;
  height: 30px;
  background: #0b0c11;
  border-radius: 15px;
  border: #c7c7c7 solid 1px;
  position: absolute;
}
.radar-icon img {
  margin-left: 1px;
  margin-top: 1px;
  width: 26px;
}
.records-header {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
    /*width: 100%;*/
    height: 30px;
    background: linear-gradient(to right, #817c8d, #818185);
    display: flex;
}
.circle-1 {
    /*position: relative;*/
    margin-top: 10px;
    margin-left: 32px;
    width: 10px;
    height: 10px;
    background-color: #e1e2e5;
    border-radius: 50%;
}

.circle-2 {
    /*position: relative;*/
    margin-top: 12px;
    margin-left: 6px;
    top: 2px;
    left: 30px;
    width: 6px;
    height: 6px;
    background-color: #e1e2e5;
    border-radius: 50%;
}

.records-header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /*position: relative;*/
    margin-left: 10px;
    color: #c9cacf;
    font-size: 16px;
}

.records-header-value {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    color: #c9cacf;
    font-size: 16px;
    width: 350px;
    /*text-align: right;*/
}

.record {
    margin-top: 15px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    /*background-color: transparent;*/
    border-radius: 10px;
    padding-bottom: 20px;
}
.record-world {
    padding-top: 15px;
    margin-left: 15px;
    display: flex;
    padding-bottom: 10px;
    color: #d0d0d0;
}
.record-world div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.record-world-icon {
    width: 35px;
    margin-right: 10px;
}
.high-score {
    display: block !important;
    margin-left: auto;
    margin-right: 15px;
}
.high-score-title {
    font-size: 12px;
    text-align: center;
}
.high-score-value {
    font-size: 16px;
    text-align: center;
}
.record-time {
    color: #d0d0d0;
    font-size: 12px;
    margin-left: 15px;
    padding-bottom: 10px;
}
.divider {
    border-top: 1px solid #c9cacf;
    margin-left: 15px;
    margin-right: 15px;
}
.record-characters {
    margin-top: 10px;
}
.record-characters-title {
    margin-left: 15px;
    color: #d0d0d0;
    font-size: 12px;
}
.record-characters-list {
    margin-left: 15px;
    display: flex;
}
.avatar-box {
    margin: 3px 6px 6px 1px;
}

.avatar {
    margin-top: 5px;
    margin-left: 15px;
    background: #cb9a6d;
    width: 100px;
    border-radius: 0 15px 0 0;
    /*height: 90px;*/
    position: relative;
    overflow: hidden;
}

.rarity5 {
    background: linear-gradient(45deg, #c59a65, #894f4a);
}

.rarity4 {
    background: linear-gradient(45deg, #7f54c0, #3d3d63);
}

.avatar-inner {
    position: absolute;
    left: 4px;
    top: 3px;
    border-radius: 0 15px 0 0;
    border: #fffdfd48 3px solid;
    width: 94px;
    height: 100px;
}

.avatar-img {
    width: 100px;
    position: relative;
    z-index: 100;
}

.avatar-banner {
    position: absolute;
    top: 95px;
    background: black;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 100%;
    z-index: 101;
}

.avatar-element {
    --borderColor-fire: #c5523a;
    --borderColor-ice: #4089bb;
    --borderColor-imaginary: #f1d85e;
    --borderColor-lightning: #a042be;
    --borderColor-physical: #857f87;
    --borderColor-quantum: #4b52a1;
    --borderColor-wind: #349972;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 7px;
    left: 7px;
    border: 1px solid;
    z-index: 101;
    background: black;
    transform: rotate(45deg);
    overflow: hidden;
}

.avatar-element img {
    transform: rotate(-45deg);
    width: 20px;
    position: absolute;
    top: -2px;
    left: -2px;
}

.record-wish {
    display: flex;
    margin-left: 15px;
    margin-top: 5px;
}

.record-wish-icon {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #bbbbbb solid 2px;
    background: #424242;
}
.record-wish-icon img {
    width: 30px;
    margin-top: 1px;
    margin-left: 3px;
}
.circle-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: #bbbbbb solid 1px;
    position: relative;
    top: 22px;
    left: -12px;
    font-size: 12px;
    background: #ececec;
}
.record-clock {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 16px;
  font-size: 14px;
  height: 40px;
  padding-top: 13px;
  background: rgba(0, 0, 0, 0.2);
  border: #575288 solid 1px;
  text-align: center;
  color: #cbcbcb;
}
.record-weakness {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 12px;
  border: #575288 solid 1px;
  color: #cbcbcb;
}
.record-weakness-header {
  height: 30px;
  background: #393467;
  padding-left: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.record-weakness-content {
  background: #1c1b38;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.record-weakness-content-item {
  width: 95%;
  margin: auto;
  border: #7771b7 solid 1px;
  background: #16152d;
  padding: 5px;
}
.record-cache-role {
  width: 50px;
  margin-left: 10px;
}
.record-cache-role img {
  width: 50px;
}
.record-wish-detail {
    color: #cbcbcb;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 12px;
}
.record-wish-detail-header {
    height: 30px;
    background: rgba(208, 208, 208, 0.6);
    padding-left: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
  font-size: 14px;
}
.record-wish-detail-content {
    padding-top: 15px;
    display: flex;
    background: rgba(245, 245, 245, 0.6);
    padding-bottom: 10px;
}
.record-wish-detail-content-left {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.record-wish-detail-content-left div {
    margin-left: 10px;
}
.record-wish-detail-content-right {
    width: 560px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}
.record-wish-detail-content-items-3 {
    background: #c79a6d;
    color: white;
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
}
.record-wish-detail-content-items-2 {
    background: #2572be;
    color: white;
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
}
.record-wish-detail-content-items-1 {
    background: #727272;
    color: white;
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
}
.record-wish-detail-content-items-content {
    padding: 5px 7px;
}
.record-wish-detail-content-items-content-badge {
    background: black;
    color: #dcb58c;
    height: 18px;
    padding: 2px;
}

.qiwu {
    margin-left: 15px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #bbbbbb solid 1px;
}
.qiwu img {
    width: 32px;
    height: 32px;
    margin-top: 3px;
    margin-left: 3px;
}
.record-pass-area-block {
  background: #1B2044;
  border: #575288 solid 1px;
  border-left: #575288 solid 5px;
  padding: 5px 10px;
  margin-left: 10px;
  min-width: 200px;
}
.record-pass-area-block img {
  width: 30px;
  vertical-align: middle;
}
.logo {
    font-size: 16px;
    font-family: "tttgbnumber";
    color: #ecd381;
    text-align: center;
    margin-top: 10px;
}
