@mixin font($name) {
    @font-face {
        font-family: $name;
        src: url('./font/#{$name}.ttf') format('truetype');
    }
}

@include font('SR');

@include font('tttgbnumber');

@include font('YS');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'SR', sans-serif;
    transform: scale(1.4);
    transform-origin: 0 0;
    font-size: 18px;
    width: 600px;
}

.container {
    width: 600px;
    padding: 20px 15px 10px 15px;
    background-size: contain;
}