<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>online</title>
    <script src="{{pluResPath}}/js/echarts.js"></script>
    <link rel="stylesheet" href="{{pluResPath}}/online/online.css"/>
</head>
<body>
<div class="container">
    <div class="user">
        <div class="user-inner">
            <div class="srlogo">
<!--                <img src="../card/logo.png"/>-->
                                <img src="{{pluResPath}}/common/cont/logo.png"/>
            </div>
            <div class="role-name">
                {{nickname}} <span class="uid">{{game_uid}}</span>
            </div>
            <div class="region">
                {{region_name}} {{level}}级
            </div>
            <div class="pamu">
<!--                <img class="pamu-img" src="../card/pamu.png"/>-->
                                <img class="pamu-img" src="{{pluResPath}}/common/cont/pamu.png"/>
            </div>
        </div>

    </div>
    <div id="bar" style="width: 800px;height:400px;"></div>
    <div id="heatmap" style="width: 700px;height:300px;margin-left: 50px"></div>
    <div id="detail" style="width: 700px;margin-left: 50px">
        <div class="detail-title">
            近期在线可视化
        </div>
        <div class="label-x">
            <div>
                0
            </div>
            <div>
                6
            </div>
            <div>
                12
            </div>
            <div>
                18
            </div>
            <div style="width: 10px">
                24
            </div>

        </div>
        {{each details detail}}
        <div class="detail-daily">
            <div class="detail-daily-label">
                {{detail.date}}
            </div>
            <div class="detail-daily-blocks">
                {{each detail.blocks block}}
                    {{if block.status == 'online'}}
                    <div class="detail-daily-block-online" style="width: <%= block.width %>px">
<!--                        ONLINE-->
                    </div>
                    {{/if}}
                    {{if block.status == 'offline'}}
                    <div class="detail-daily-block-offline" style="width: <%= block.width %>px">
<!--                        OFFLINE-->
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    <div class="hint">
        数据由米游社开拓力回复推算估计，不保证准确性，仅供参考
    </div>
    <div class="logo">
        {{@sys.createdby}}
    </div>

</div>


<script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('heatmap'));
  var myChartBar = echarts.init(document.getElementById('bar'));
  let data = JSON.parse('{{@ general}}')

  heatMapData = Object.keys(data).map(k => {
    return [k, data[k]]
  })
  // 指定图表的配置项和数据
  var option = {
    title: {
      text: '每日在线时长热力图',
      top: 20,
      left: 'center',
      textStyle: {
        fontFamily: 'hanyi',
        fontSize: 24
      }
    },
    // tooltip: {},
    visualMap: {
      min: 0,
      max: 24,
      type: 'piecewise',
      orient: 'horizontal',
      left: 'center',
      top: 65,
      textStyle: {
        fontFamily: 'hanyi',
        fontSize: 12
      }
    },
    calendar: {
      top: 120,
      left: 30,
      right: 30,
      cellSize: ['auto', 16],
      range: '2023',
      itemStyle: {
        borderWidth: 0.5,
      },
      monthLabel: {
        textStyle: {
          fontFamily: 'hanyi',
          fontSize: 12
        },
        nameMap: 'ZH'
      },
      dayLabel: {
        textStyle: {
          fontFamily: 'hanyi',
          fontSize: 12
        },
        nameMap: 'ZH'
      },
      yearLabel: {show: true}
    },
    series: {
      type: 'heatmap',
      coordinateSystem: 'calendar',
      data: heatMapData
    }
  };
  const optionBar = {
    title: {
      text: '近期每日在线时长',
      top: 20,
      left: 'center',
      textStyle: {
        fontFamily: 'hanyi',
        fontSize: 24
      }
    },
    xAxis: {
      type: 'category',
      data: Object.keys(data).reverse().slice(0, 7).reverse(),
      axisLabel: {
        fontFamily: 'hanyi'
      }
    },
    yAxis: {
      type: 'value',
      axisLabel: {
        fontFamily: 'hanyi'
      }
    },
    series: [
      {
        data: Object.values(data).reverse().slice(0, 7).reverse(),
        type: 'bar',
        showBackground: true,
        backgroundStyle: {
          color: 'rgba(152,151,151,0.2)'
        },
        colorBy: 'data',
        label: {
          show: true,
          fontFamily: 'hanyi'
        }
      }
    ]
  };
  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
  myChartBar.setOption(optionBar)
</script>
</body>
</html>
<style>
    @font-face {
        font-family: hanyi;
        src: url('{{pluResPath}}common/font/汉仪润圆-75W.ttf') format('truetype');
    }
</style>