<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarRail-plugin</title>
    <link rel="stylesheet" type="text/css" href="{{pluResPath}}common/common.css" />
    {{block 'css'}}
    {{/block}}
</head>

<body {{@sys.scale}}>
    <div class="container" id="container">
        {{block 'main'}}{{/block}}
        <!-- <div class="copyright">{{@sys.copyright}}</div> -->
    </div>
</body>

</html>